@font-face {
    font-family: 'Avenir';
    src: url('../assets/fonts/Avenir/AvenirLTStd-Roman.eot');
    src: url('../assets/fonts/Avenir/AvenirLTStd-Roman.eot?#iefix')
            format('embedded-opentype'),
        url('../assets/fonts/Avenir/AvenirLTStd-Roman.woff2') format('woff2'),
        url('../assets/fonts/Avenir/AvenirLTStd-Roman.woff') format('woff'),
        url('../assets/fonts/Avenir/AvenirLTStd-Roman.svg#AvenirLTStd-Roman')
            format('svg');
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-Regular.eot');
    src: url('../assets/fonts/Inter/Inter-Regular.eot?#iefix')
            format('embedded-opentype'),
        url('../assets/fonts/Inter/Inter-Regular.woff2') format('woff2'),
        url('../assets/fonts/Inter/Inter-Regular.woff') format('woff'),
        url('../assets/fonts/Inter/Inter-Regular.svg#AvenirLTStd-Roman')
            format('svg');
}

.auth-container {
    display: flex;
    flex-direction: column;
    width: 312px;
    margin: auto;
}

.input-without-button {
    padding-top: 12px;
}

.input-without-button input {
    border: none;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    width: 280px;
    height: 56px;
    color: #8c8c8c;
    outline: none;
    background-color: #ececf3;
    border-radius: 72px;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 20px;
}

.input-with-button-wrapper {
    align-items: center;
    display: flex;
    max-width: 312px;
    width: 312px;
    justify-content: center;
    background: #ececf3;
    border-radius: 72px;
    margin-top: 12px;
}

.input-with-button input {
    border: none;
    margin-left: 16px;
    margin-right: 16px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    max-width: 206px;
    color: #8c8c8c;
    outline: none;
    background-color: #ececf3;
}

.input-with-button button {
    border: 1px solid lightgrey;
    box-sizing: border-box;
    border-radius: 36px;
    padding: 10px 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    line-height: 20px;
    color: #383838;
    cursor: pointer;
}

.auth-container p {
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #c42e2e;
}

.auth-container label {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
}

.auth-button {
    width: 312px;
    padding: 16px;
    background: #b95de4;
    border-radius: 48px;
    color: #ffffff;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    border: none;
    cursor: pointer;
}

.login-linkto {
    padding-top: 12px;
}

.provider-login {
    display: flex;
    flex-direction: column;
}

.provider-login button {
    margin-top: 12px;

    box-sizing: border-box;
    position: relative;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.provider-login button::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.facebook {
    background-color: #4c69ba;
    background-image: linear-gradient(#4c69ba, #3b55a0);
    font-family: 'Helvetica neue', Helvetica Neue, Helvetica, Arial, sans-serif;
    text-shadow: 0 -1px 0 #354c8c;
    border-right: #364e92 1px solid;
}

.facebook::before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png')
        6px 6px no-repeat;
}

.google {
    font-family: 'Roboto', Roboto, arial, sans-serif;
    background: #dd4b39;
}

.google::before {
    border-right: #bb3f30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png')
        6px 6px no-repeat;
}
